.figure {
  padding-bottom: 25px;
}

.figure figcaption {
  color: $gray;
  font-style: italic;
}

.figure-right {
  float: right;
  padding-left: 50px;
  width: 40%;
}

.figure-left {
  float: left;
  padding-right: 50px;
  width: 40%;
}

.figure-center {
  width: 100%;
}


